<div>
    <div class="main">
        <div class="left">
            <div class="category">
                <h5 id="category-head">Category</h5>
                <input type="radio" class="create-check dress-create" [routerLink]="['/design', {outlets: {protoarea: ['Dresses']}}]" name="btnradio" id="btnradio1" value="Dresses" autocomplete="off">
                <label for="btnradio1">Dresses</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Top']}}]" name="btnradio" id="btnradio1" value="Top" autocomplete="off">
                <label for="btnradio1">Tops</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Kurti']}}]" name="btnradio" id="btnradio1" value="Kurti" autocomplete="off">
                <label for="btnradio1">Kurtis</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Gown']}}]" name="btnradio" id="btnradio1" value="Gown" autocomplete="off">
                <label for="btnradio1">Gowns</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Skirt']}}]" name="btnradio" id="btnradio1" value="Skirt" autocomplete="off">
                <label for="btnradio1">Skirts</label>
            </div>
            <hr>
            <div class="category">
                <h5 id="category-head">Customize</h5>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Strap']}}]" name="btnradio" id="btnradio1" value="Strap" autocomplete="off">
                <label for="btnradio1">Straps</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Bodice']}}]" name="btnradio" id="btnradio1" value="Bodice" autocomplete="off">
                <label for="btnradio1">Bodice</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Belt']}}]" name="btnradio" id="btnradio1" value="Waist Line" autocomplete="off">
                <label for="btnradio1">Waist Line</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Flounce']}}]" name="btnradio" id="btnradio1" value="Flounce" autocomplete="off">
                <label for="btnradio1">Flounce</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Layers']}}]" name="btnradio" id="btnradio1" value="Layers" autocomplete="off">
                <label for="btnradio1">Layers</label>
            </div>
            <hr>
            <div class="category">
                <h5 id="category-head">Extras</h5>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Shawl']}}]" name="btnradio" id="btnradio1" value="Shawl" autocomplete="off">
                <label for="btnradio1">Shawl</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Scarf']}}]" name="btnradio" id="btnradio1" value="Scarf" autocomplete="off">
                <label for="btnradio1">Scarf</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Stole']}}]" name="btnradio" id="btnradio1" value="Stole" autocomplete="off">
                <label for="btnradio1">Stole</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Jacket']}}]" name="btnradio" id="btnradio1" value="Jacket" autocomplete="off">
                <label for="btnradio1">Jacket</label>
                <br>
                <input type="radio" class="create-check" [routerLink]="['/design', {outlets: {protoarea: ['Bottom']}}]" name="btnradio" id="btnradio1" value="Bottom" autocomplete="off">
                <label for="btnradio1">Bottom</label>
            </div>
            <hr>
        </div>
        <!-- <div class="right">
            <img src="../../assets/images/designs/gown1.jpeg" alt="" height="50" width="50">
        </div> -->
    </div>
</div>
